* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.smileys-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.smilyes-list {
  list-style: none;
  margin: 10px 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;
}

.smilyes-item {
  display: flex;
  gap: 10px;
}

button {
  padding: 5px;
  border-radius: 5px solid none;
}

span {
  display: flex;
  align-items: center;
}
